doctype 5
html
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="viewport" content="width=device-width")
        title
            - block title
        link(rel="stylesheet" type="text/css" href="/static/css/normalize.min.css")
        link(rel="stylesheet" type="text/css" href="/static/css/main.css")
        link(rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css")
        link(href="http://fonts.googleapis.com/css?family=Questrial|Lobster" rel="stylesheet" type='text/css')

        script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"

    body
        #fb-root
        header.w1of1.clearfix
            nav.w1of1.color3-bg.clearfix
                ul.wrapper
                    li.left
                        a href=uri_for("add_bollocks") 
                            i.icon-plus-sign
                            Add your own bollocks! 
                    li.right
                        a href="https://bitbucket.org/KitB/bollocksindex"  
                            Help make this site!
                            i.icon-code-fork
            a href="/"
                h1 
                    span.over The
                    Bollocks 
                    span.undr Index
        div.wrapper
            - block content

        script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"

        script type="text/javascript" src="/static/js/main.js"
        script type="text/javascript"
            // Additional JS functions here
            window.fbAsyncInit = function() {
                FB.init({
                appId      : '544654668920779', // App ID
                channelUrl : '//${request.host}/static/fbchannel.html',
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
                });

                // Additional init code here

            };

            // Load the SDK asynchronously
            (function(d){
                var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_GB/all.js";
                ref.parentNode.insertBefore(js, ref);
            }(document));
